{% liquid
  assign block_settings = block.settings
  assign menu_content_type = block_settings.menu_style | default: 'text'
  assign image_border_radius = block_settings.image_border_radius
  assign color_scheme_classes = ''
  assign color_scheme_setting_id = 'color_scheme_' | append: section.settings.menu_row
  assign current_color_scheme = block_settings.color_scheme
  assign parent_color_scheme = section.settings[color_scheme_setting_id]

  if parent_color_scheme.id != current_color_scheme.id
    assign color_scheme_classes = ' color-' | append: current_color_scheme
  endif

  # Check if header and menu colors match. This is used to apply different padding styles in css
  if parent_color_scheme.settings.background.rgb == current_color_scheme.settings.background.rgb
    assign color_scheme_classes = color_scheme_classes | append: ' color-scheme-matches-parent'
  endif

  if block_settings.menu_style == 'featured_collections'
    assign ratio = block_settings.featured_collections_aspect_ratio
  elsif block_settings.menu_style == 'featured_products'
    assign ratio = block_settings.featured_products_aspect_ratio
  endif
%}

{% capture children %}
  {% for link in block_settings.menu.links %}
    <li
      role="presentation"
      class="menu-list__list-item"
      on:focus="/activate"
      on:blur="/deactivate"
      on:pointerenter="/activate"
      on:pointerleave="/deactivate"
    >
      <a
        href="{{ link.url }}"
        data-skip-node-update="true"
        class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}{% if link.links != blank %} menu-list__link--has-submenu{% endif %}"
        {%- if link.links != blank -%}
          aria-controls="submenu-{{ forloop.index }}"
          aria-haspopup="true"
          aria-expanded="false"
        {%- endif -%}
        ref="menuitem"
      >
        <span class="menu-list__link-title">{{- link.title -}}</span>
        {%- if link.links != blank -%}
          <span class="menu-list__link-arrow">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 4.5L6 7.5L9 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        {%- endif -%}
      </a>
      {%- if link.links != blank -%}
        <div class="menu-list__submenu{{ color_scheme_classes }}" ref="submenu[]">
          <div
            id="submenu-{{ forloop.index }}"
            class="menu-list__submenu-inner"
            style="{% render 'submenu-font-styles', settings: block_settings %}"
          >
            <ul class="mega-menu__list list-unstyled">
              {% for child_link in link.links %}
                <li class="mega-menu__column mega-menu__column--span-1">
                  <div>
                    <a
                      href="{{ child_link.url }}"
                      class="mega-menu__link{% if child_link.links != blank %} mega-menu__link--parent{% endif %}"
                      {%- if child_link.links != blank -%}
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="submenu-child-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                      {%- endif -%}
                    >
                      <span class="mega-menu__link-title">{{- child_link.title -}}</span>
                      {%- if child_link.links != blank -%}
                        <span class="mega-menu__link-arrow">&#8250;</span>
                      {%- endif -%}
                    </a>
                    {% if child_link.links != blank %}
                      <ul
                        id="submenu-child-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                        class="list-unstyled mega-menu__nested"
                        hidden
                      >
                        {% for grandchild_link in child_link.links %}
                          <li>
                            <a
                              href="{{ grandchild_link.url }}"
                              class="mega-menu__link"
                            >
                              <span class="mega-menu__link-title">{{- grandchild_link.title -}}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {%- endif -%}
    </li>
  {% endfor %}
  <li
    class="menu-list__list-item"
    role="presentation"
    slot="more"
    on:focus="/activate"
    on:blur="/deactivate"
    on:pointerenter="/activate"
    on:pointerleave="/deactivate"
  >
    <button role="menuitem" class="button menu-list__link button-unstyled">
      <span class="menu-list__link-title">{{ 'actions.more' | t }}</span>
    </button>
  </li>
{% endcapture %}

<nav header-menu>
  <div
    class="menu-list"
    style="{% render 'menu-font-styles', settings: block_settings %}"
  >
    {% assign class = 'overflow-menu' | append: color_scheme_classes %}
    {% render 'overflow-list', class: class, ref: 'overflowMenu', children: children, minimum-items: 2, defer: true %}
  </div>
</nav>

{% stylesheet %}
  /* Nested submenu flyout */
  .menu-list__submenu,
  .menu-list__submenu-inner {
    overflow: visible;
    position: relative;
  }

  .mega-menu__nested {
    background: var(--color-background, #ffffff);
    /* box-shadow: 0 10px 30px rgba(var(--color-foreground-rgb, 0, 0, 0), 0.12); */
   
    padding: 0px 0;
    margin: 0;
    list-style: none;
    overflow: visible;
    z-index: 20;
    border: 1px solid var(--color-border, rgba(0,0,0,0.08));
    min-width: 220px;
  }

  .mega-menu__nested > li > a.mega-menu__link {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 12px; */
    padding: 10px 14px;
    white-space: nowrap;
    color: var(--color-foreground);
    text-decoration: none;
  }

  .mega-menu__nested > li + li {
    border-top: 1px solid rgb(var(--color-foreground-rgb, 0,0,0) / 0.06);
  }

  .mega-menu__nested > li > a.mega-menu__link:hover {
    background: rgb(var(--color-foreground-rgb, 0, 0, 0) / 0.06);
  }

  .mega-menu__link--parent .mega-menu__link-arrow {
    margin-left: auto;
    opacity: 0.7;
  }
{% endstylesheet %}
