{%- if section.blocks.size > 0 -%}
  {{- 'section-ingredients-faq.css' | asset_url | stylesheet_tag -}}

  {%- style -%}
    #shopify-section-{{ section.id }} > div {
      padding-block-start: 60px;
      padding-block-end: 60px;
      padding: 60px 10px;
      margin-left: auto;
      margin-right: auto;
      max-width:fit-content;
    }
    .container1{
      max-width: 800px !important;
    }
    .section__heading134{
      font-size: clamp(28px, 5vw, 50px) !important;
      font-weight: 700 !important;
      color: #b4975a !important;
      padding-bottom: 30px;
      text-transform: uppercase !important;
      position: relative;
      z-index: 9999;
    }

    @media (max-width: 767px) {
      .accordion__button-text{
        line-height:1.4;
        font-size:21px;
      }
      .accordion__body p{
        font-size:16px !important;
      }
    }
  {%- endstyle -%}

  <div class="accordions color-{{ section.settings.color_scheme }} gradient js-animation-fade-in">
    <div class="container1 {{ section.settings.section_width }}">
      {%- if section.settings.heading != blank -%}
        <h2 class="section__heading section__heading134 {{ section.settings.heading_size }}">
          {{- section.settings.heading -}}
        </h2>
      {%- endif -%}

      <accordion-default class="accordion" data-hide-multiple>
        {%- for block in section.blocks -%}
          {%- liquid
            if block.settings.title == blank
              continue
            elsif block.settings.text == blank and block.settings.page == blank
              continue
            endif

            if block.settings.is_open
              assign details_class = ' is-active default-active'
              assign details_attr = 'open'
            else
              assign details_class = blank
              assign details_attr = blank
            endif
          -%}

          <details class="accordion__section1 {{ details_class }}" id="Details-{{- block.id -}}" {{ details_attr }} {{- block.shopify_attributes -}}>
            <summary class="accordion__button h6 js-btn" id="Details-Summary-{{- block.id -}}">
              <div class="accordion__button-text">
                {{- block.settings.title | escape -}}
              </div>
              <div class="accordion__icon">
                {% render 'icon', icon_name: 'theme-chevron-down' %}
              </div>
            </summary>

            <div class="accordion__body" id="Details-Content-{{- block.id -}}">
              <div class="accordion__body-inner">
                {%- if block.settings.page != blank and block.settings.page.content != blank -%}
                  {{- block.settings.page.content -}}
                {%- elsif block.settings.text != blank -%}
                  {{- block.settings.text -}}
                {%- endif -%}
              </div>
            </div>
          </details>
        {%- endfor -%}
      </accordion-default>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "ingredients-faq",
  "tag": "section",
  "class": "section-accordions",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently asked questions"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h6",
          "label": "XS"
        },
        {
          "value": "h5",
          "label": "S"
        },
        {
          "value": "h4",
          "label": "M"
        },
        {
          "value": "h3",
          "label": "L"
        },
        {
          "value": "h2",
          "label": "XL"
        }
      ],
      "default": "h3"
    },
    {
      "type": "header",
      "content": "Header settings",
      "info": "Configure header and general section options"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "max-w-page",
          "label": "Page width"
        },
        {
          "value": "max-w-narrower",
          "label": "Narrower"
        },
        {
          "value": "max-w-fluid",
          "label": "Fluid"
        }
      ],
      "default": "max-w-narrower"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Top spacing",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Bottom spacing",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    }
  ],
  "blocks": [
    {
      "type": "topic",
      "name": "Topic",
      "settings": [
        {
          "type": "checkbox",
          "id": "is_open",
          "label": "Open by default"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Topic heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Answer",
          "default": "<p>Descriptive topic content body text</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Link to page",
          "info": "Optional: select a page whose content will be used as the answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ingredients-faq",
      "blocks": [
        {
          "type": "topic",
          "settings": {
            "is_open": true,
            "title": "Shipping details",
            "text": "<p>Add additional information about shipping policy.</p>"
          }
        },
        {
          "type": "topic",
          "settings": {
            "title": "Delivery details",
            "text": "<p>Add additional information about delivery policy.</p>"
          }
        },
        {
          "type": "topic",
          "settings": {
            "title": "Refund details",
            "text": "<p>Add additional information about refund policy.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
